:root {
    --color-violet: hsl(257, 40%, 49%);
    --color-soft-magenta: hsl(300, 69%, 71%)
}

/*----------RESETING----------*/

/* Box sizing rules */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}


/*----------DOCUMENT STYLE----------*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    background-color: var(--color-violet);
    background-image: url(./images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 100vw;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.main {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0 75px;
}

#huddle-logo {
    width: 200px;
    padding-top: 60px;
    padding-bottom: 100px;
}

.main-container {
    display: flex;
}

#illustration {
    width: 50%;
    object-fit: contain;
}

.main-container-infos {
    display: flex;
    flex-direction: column;
    padding: 60px;
}

.main-text {
  padding-top: 20px;
}

#register-button {
    color: #6c4ab5;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 200px;
    height: 55px;
    margin-top: 25px;
    border-radius: 40px;
    border: none;
    box-shadow: 1px 1px 5px black;
}

#register-button:hover {
    background-color: var(--color-soft-magenta);
    color: white;
    cursor: pointer;
}

a, a:visited {
    color: white;
}

a:hover {
    color: var(--color-soft-magenta);
}

.social-links {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    padding-right: 60px;
}

@media screen and (max-width: 1000px) {
  body {
    background-image: url(./images/bg-mobile.svg);
    background-size: contain;
  }
  .main {
    flex-direction: column;
  }
  .main-container {
    flex-direction: column;
  }
  #illustration {
    width: 100%;
    object-fit: contain;
  }
  #register-button {
    margin: auto;
    margin-top: 25px;
  }
  .social-links {
    padding-right: 0;
    justify-content: center;
    margin-bottom: 40px;
  }
  .main-container-infos {
    padding: 60px 0;
  }
  h1 {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
}